// general image mixin
@mixin background-image(
 $url,
 $width: 24px,
 $height: 24px,
 $position: center center,
 $repeat: no-repeat
) {
 background-image: url("../../assets/" + $url);
 background-size: $width $height;
 background-position: $position;
 background-repeat: $repeat;
}
@mixin image-logo-sm {
 @include background-image("logo.svg");
}
@mixin login-background {
 @include background-image("loginbackground.svg", 1200px, 500px);
}
@mixin icon-home {
 @include background-image("icon-home-inactive.svg", 24px, 24px);
}
